
form input {
    width:225%
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-SemiBold.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Montserrat2";
    src: url("../fonts/Montserrat-Italic-VariableFont_wght.ttf");
    font-weight: 300;
}

.header {
background-image: url(../img/white.jpg);
text-align: center;
font-family: "Montserrat";
}


.center {
display:block;
margin-left: auto;
margin-right: auto;
width: 8%;
font-family: "Montserrat2";
}

.home {
width: 4%;
    }

h1 {
text-align: center;
color: gray
}

form input::placeholder{

    color: gray;
}
